<template>
  <div>

    <div hidden>{{ change }}</div>
    <div class="filter">
      <h2 class="filter__title">Фильтр</h2>

      <div class="filter__item">
        <div class="filter__label">Дата:</div>
        <div class="filter__main">
          С
          <input
              class="filter__input"
              type="tel"
              placeholder="Начало"
              v-model="filter.date.startRaw"
          >
          по
          <input
              class="filter__input"
              type="tel"
              placeholder="Конец"
              v-model="filter.date.endRaw"
          >
        </div>

      </div>



      <button
          class="filter__apply"
          @click.prevent="applyFilter"
      >Применить</button>

      <button
          class="filter__apply"
          @click.prevent="cancelFilter"
      >Сбросить</button>

    </div>

    <table class="resultTable">

      <thead class="resultTable__head">
      <tr>
        <th class="resultTable__colName">Название заказа</th>

        <th
            v-for="(status, index) in status"
            class="resultTable__colName"
            :key="index"
        >{{ status.name }}
        </th>
      </tr>
      </thead>

      <tr
          v-for="(row, i) in filteredArr"
          class="resultTable__row"
          :key="i"
      >
        <td v-if="row" class="resultTable__cell resultTable__cell--order">{{ row.name }}</td>

        <td
            v-if="row"
            v-for="(status, j) in status"
            class="resultTable__cell"
            :key="j"
        >
          <div class="resultTable__user" v-if="row.status[status.id]">
            <div class="resultTable__userName">{{ row.status[status.id].user.name }}</div>
            <div class="resultTable__date">{{ row.status[status.id].date }}</div>
          </div>
        </td>
      </tr>

    </table>
    <button>Создать пользователей</button>
  </div>
</template>

<script>
  import moment from 'moment';

  export default {
    data() {
      return {
        change: null,
        users: {},
        info: Object.values(this.$store.getters.getOrigInfo),
        status: [],
        filter: {
          date: {
            start: moment().year(2000).format('X'),
            end: moment().year(2050).format('X'),
            startRaw: null,
            endRaw: null,
          }
        },
        filtered: {}
      };
    },
    computed: {
      filteredArr() {
        console.log('c: filteredArr');
        let start = this.filter.date.start;
        let end = this.filter.date.end;
//        let arr = this.info;

        /*console.log(this.info.filter(order => {

          for (let j in order.status) {
            let status = order.status[j];

            if (
              !(+status.timestamp >= start
                && +status.timestamp <= end)
            ) {
              delete order.status[j];
            } else {
              return true;
            }
          }

        }));*/

//        console.log(this.info);

        return this.info.map(order => {
          let hasMatch = 0;
          let data = order;

          for (let j in data.status) {
            let status = data.status[j];

            if (
              !(+status.timestamp >= start
                && +status.timestamp <= end)
            ) {
//              data.status[j] = null;
//              delete data.status[j];
            } else {
              hasMatch++;
            }
          }

          if (hasMatch > 0) {
            return data;
          } else {
            return null;
          }
//          return hasMatch;

        });

        /*function getArr(a) {
          let newArr = [];

          a.forEach(order => {
            let hasMatch = 0;
            let data = order;

            for (let j in data.status) {
              let status = data.status[j];

              if (
                !(+status.timestamp >= start
                  && +status.timestamp <= end)
              ) {
                data.status[j] = null;
                console.log(data.status[j]);
                delete data.status[j];
              } else {
                hasMatch++;
              }
            }

            if (hasMatch > 0) {
              return data;
            } else {
              return null;
            }
//          return hasMatch;

          })
        }*/

        /*for (let i in data) {
          let order = data[i];
          let hasMatch = false;

          for (let j in order.status) {
            let status = order.status[j];

            if (
              !(+status.timestamp >= this.filter.date.start
                && +status.timestamp <= this.filter.date.end)
            ) {
              delete data[i].status[j];
            } else {
              hasMatch = true;
            }
          }

          if (!hasMatch) delete this.info[i];

        }*/


      },
    },
    created() {
      this.initValue();
    },
    methods: {

      /*filteredData() {
        let data = {};
        data = this.$store.state.origInfo.list;
        console.log('============================');
        console.log(this.$store.getters.getOrigInfo);
        console.log('============================');
        console.log(this.filter.date.start);
        console.log(this.filter.date.end);

        for (let i in data) {
          let order = data[i];
          let hasMatch = false;

          for (let j in order.status) {
            let status = order.status[j];

            if (
              !(+status.timestamp >= this.filter.date.start
                && +status.timestamp <= this.filter.date.end)
            ) {
              delete data[i].status[j];
            } else {
              hasMatch = true;
            }
          }

          if (!hasMatch) delete this.info[i];

        }
        this.initValue();
        console.log(data);
        this.$forceUpdate;
        return data;
      },*/
      initValue() {
        let startTime = new Date();
        this.status = [];

        for (let key in this.info) {
          let order = this.info[key];

          for (let key in order.status) {
            let status = order.status[key];
//            this.setUser(status.user.id, status.user.name);
            this.setStatus(key, status.name);
          }

        }


        /*this.filter.date.start = (this.filter.date.start.getTime()).toString();
        this.filter.date.end = (this.filter.date.end.getTime()).toString();

        (this.filter.date.start.getTime()).toString();
        (this.filter.date.end.getTime()).toString();*/

        let endTime = new Date();
        console.log(`Total time: ${endTime - startTime}ms`);
      },
//      setUser(id, name) {
//        this.users[id] = name;
//      },
      setStatus(key, name) {
        if (this.hasEl(key)) {
          this.status.push({
            id: key,
            name: name
          });
        }
      },
      hasEl(key) {
        let res = null;
        res = this.status.findIndex(i => {

          return i.id === key;

        }) === -1;

        return res;
      },
      applyFilter() {
        this.setDate('start');
        this.setDate('end');

//        this.info = this.filteredData();

//        this.transformDates();
//        console.log(this.info);
//        this.info = this.$store.state.origInfo.list;
//
//        for (let i in this.info) {
//          let order = this.info[i];
//          let hasMatch = false;
//
//          for (let j in order.status) {
//            let status = order.status[j];
//
//            if (
//              !(status.timestamp >= this.filter.date.start
//                && status.timestamp <= this.filter.date.end)
//            ) {
//              delete this.info[i].status[j];
//            } else {
//              hasMatch = true;
//            }
//          }
//
//          if (!hasMatch) delete this.info[i];
//
//        }
//        this.initValue();
//        this.change++;
      },
      transformDates() {
        let s = null;

        // дата начала
        if (this.filter.date.startRaw) {
          s = this.filter.date.startRaw.split('.');
          this.filter.date.start = (new Date(`${s[1]}-${s[0]}-${s[2]}`).getTime()).toString().slice(0, -3);
        } else {
          this.filter.date.start = moment().year(1900);
        }


        // дата конца
        if (this.filter.date.endRaw) {
          s = this.filter.date.endRaw.split('.');
          this.filter.date.end = (new Date(`${s[1]}-${s[0]}-${s[2]}`).getTime()).toString().slice(0, -3);
        } else {
          this.filter.date.end = moment().year(2050);
        }

//        console.log(`${this.filter.date.start}-${this.filter.date.end}`);
      },
      setDate(field) {
        // eslint-disable-next-line
        let regex = new RegExp('^[0-9]{2}[.][0-9]{2}[.][0-9]{4}$');
        let input = null;
        let validFormat = false;

        if (field === 'start') {
          input = this.filter.date.startRaw;
          if (!input) return moment().year(2000).format('X');
        }

        if (field === 'end') {
          input = this.filter.date.endRaw;
          if (!input) return moment().year(2050).format('X');
        }

        validFormat = regex.test(input);

        if (validFormat) {
          let splited = [];
          let res = null;
          splited = input.split('.');
          res = moment().set({
            date: +splited[0],
            month: +splited[1] - 1,
            year: +splited[2],
            h: 3,
          }).format('X');

          if (field === 'start') this.filter.date.start = res;
          if (field === 'end') this.filter.date.end = res;

        } else {
          console.log('Дата конца в неправильном формате');
          return null;
        }
      },
      cancelFilter() {
        console.log('m: cancelFilter');
//        console.log(this.$store.state.origInfo);
      }
    }

  };
</script>

<style>

  body {
  }

  .filter {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1;
  }

  .filter__title {
  }

  .filter__item {
  }

  .filter__label {
    font-weight: 700;
    margin-bottom: 10px;
  }

  .filter__input {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100px;
    vertical-align: middle;

  }

  .filter__main {
  }

  .filter__apply {
    margin-top: 15px;
  }


  .resultTable {
    border-collapse: collapse;
    font-size: 8px;
  }

  .resultTable__colName {
    border: 1px solid #ccc;
    padding: 5px 5px;
  }

  .resultTable__row {
  }

  .resultTable__cell {
    border: 1px solid #ccc;
    padding: 5px 10px;
  }

  /*.resultTable__cell:hover {
    transform: scale(1.5);
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px -2px #000;
  }*/

  .resultTable__cell--order {
    white-space: nowrap;
  }

  .resultTable__user {
    text-align: center;
    line-height: 1.1;
  }

  .resultTable__userName {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 2px;
  }

  .resultTable__date {
    color: #8c8c8c;
  }


</style>